/* Stylesheet for Mobile App */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav{
	margin:0;
	padding:0;
}

/* universal Stlye */

body{
	background-color:palevioletred;
}
div#container{
	width:100%;
	background-color: lightskyblue;
		border:5px solid black;
}
header{
	width:96%;
	padding:25px;
	background-color:aquamarine;
}
header img#applogo{
	display: block;
	margin:auto;
	width:200px;
	
}
header h1{
	color:cadetblue;
	font-family:'Monoton', sans-serif;
	font-size:200%;
	margin:auto;
	text-align: center;
}
div#content{
	width:100%;
	background-color:cadetblue;

	
}

.icon-bar{
	position:absolute;
	bottom:0;
	left:0;
	width: 100%;
	background color:black;
	overflow:auto;
}
.icon-bar a{
	float: left;
	width:20%;
	text-align: center;
	padding: 12px 0;
	transition: all 0.3s ease;
	color: lightseagreen;
	font-size: 36px;
	
}
.icon-bar a:hover{
	background-color:black;
}
.active{
	background-color:antiquewhite;
}
/*
nav{
	width:100%;
		background-color:darkgrey;
}

nav ul{
	list-style: none;
}
nav ul li a{
	float:left;
	display:block;
	padding:5px 10px;
	border-right: 1px solid aquamarine;
	color:black;
	text-decoration: none;
}
nav ul li a:hover{
	 background-color:cadetblue;
	color:aquamarine;
}
*/
/*
footer{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	background-color:cadetblue;
}
div.keepOpen{
	clear: both;
}

@media screen and (max-width: 600px){
	div#container{
		width:100%;
	}

nav ul li a{
	float:none;
	text-align: center;
}
}*/