/* Stylesheet for Mobile App */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav{
	margin:0;
	padding:0;
}

/* universal Stlye */

body{
	background-color:cadetblue;
}
div#container{
	width:100%;
	background-color: aquamarine;
		border:5px solid black;
	font-size:150%;
}
div#content{
	text-align: center;
	color:aquamarine;
	
}
div#content img#hayes{
	float:middle;
}
header{
	width:96%;
	padding:25px;
	background-color:aquamarine;
}
header img#applogo{
	display: block;
	margin:auto;
	width:200px;
	
}
header h1{
	color:cadetblue;
	font-family:'Monoton', sans-serif;
	font-size:200%;
	margin:auto;
	text-align: center;
}
div#content{
	width:100%;
	background-color:cadetblue;

	
}

.icon-bar{
	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
	background color:cadetblue;
	overflow:auto;
}
.icon-bar a{
	float: left;
	width:20%;
	text-align: center;
	padding: 12px 0;
	transition: all 0.3s ease;
	color: lightseagreen;
	font-size: 36px;
	background: black;
	
}
.icon-bar a:hover{
	background-color:aquamarine;
}
.active{
	
}
div#productgroup{
	max-width:80%;
	min-width:20%;
	margin:auto;
}
figure.cows{

	float:middle;
	padding-top:50px;
	min-width: 30%;
		max-width:50%;
	background color:palegreen;
	border-radius:5%;
	color:aquamarine;
}
figure.othercow{
	
	float:middle;
	margin:10px;
	min-width: 30%;
		max-width:50%;
	background color:palegreen;
	border-radius:5%;
	color:aquamarine;
	
}
figure.finalcow{
	
	float:middle;
	margin:10px;
	min-width: 30%;
		max-width:50%;
	background color:palegreen;
	border-radius:5%;
	color:aquamarine;
	
}
figure.lastcow{
	
	float:middle;
	margin:10px;
	min-width: 30%;
		max-width:50%;
	background color:palegreen;
	border-radius:5%;
	color:aquamarine;
	width:20%;
		height:20%;
}
figure.celebrate{
	
	float:left;
	margin:10px;
	min-width: 30%;
		max-width:50%;
	background color:palegreen;
	border-radius:5%;
	color:aquamarine;
	width:20%;
		height:20%;
}
figure.celebrate2{
	
	float:right;
	margin:10px;
	min-width: 30%;
		max-width:50%;
	background color:palegreen;
	border-radius:5%;
	color:aquamarine;
	width:20%;
		height:20%;
}

figure.skittles{
	padding-left: 1800px;
	margin:10px;
	min-width:30%;
		max-width:50%;
	size:200px;
}
header h3{
    padding-bottom:200px;
}
/*
nav{
	width:100%;
		background-color:darkgrey;
}

nav ul{
	list-style: none;
}
nav ul li a{
	float:left;
	display:block;
	padding:5px 10px;
	border-right: 1px solid aquamarine;
	color:black;
	text-decoration: none;
}
nav ul li a:hover{
	 background-color:cadetblue;
	color:aquamarine;
}
*/
/*
footer{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	background-color:cadetblue;
}
div.keepOpen{
	clear: both;
}

@media screen and (max-width: 600px){
	div#container{
		width:100%;
	}

nav ul li a{
	float:none;
	text-align: center;
}
}*/